	div{border:1px solid black;}
	#container, #header, #footer{width:1338px;}
	#left, #content{float:left;height:330px;}
	#header{height:50px;}
	#left{width:312px;}
	#content{width:1020px;}
	#footer{clear:both;height:50px;}
	.logo{width: 120px;height: 38px;margin-top: 5px;margin-left: 5px;}
	.title{width: 400px;height: 38px;position: relative;top: -40px;left: 30%;}
	.title span{text-align: center;position: relative;top: 30%;left: 20%;}
	#left {text-align: left;}
	#footer span{float: right;padding-right: 20px;padding-top: 30px;}
	.AgeFrom, .AgeTo, .PointsFrom, .PointsTo {width:75px;}
	td {border: 1px solid black;text-align: center;}
	table tr td:nth-child(1) {width:50px;}
	table tr td:nth-child(2) {width:320px;}
	table tr td:nth-child(3) {width:320px;}
	table tr td:nth-child(4) {width:122px;}
	table{margin:20px;}
	.filter{text-align: center;}
	.input-margin{margin-top:20px;}
	#left div, .enumerate {border: 0}
	.triangleUpToDown, .triangleDownToUp{
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		position: relative;
		top: 5px;
		left: 197px;
		float: left;
	}
	.triangleUpToDown {
		border-bottom: 10px solid black;
		border-top: 0px solid transparent;
	}
	.triangleDownToUp {
		border-bottom: 0px solid transparent;
		border-top: 10px solid black;
	}
	.triangleNext, .trianglePrevious{
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		position:relative;
		top:5px;
		left:197px;
		float:left;
	}
	.trianglePrevious {
		border-right: 10px solid black;
		border-left: 0px solid transparent;
	}
	.triangleNext {
		border-left: 10px solid black;
		border-right: 0px solid transparent;
	}
	.enumerate{
		margin-top: -19px;
		margin-left: 270px
	}
	.addInput{
		border: 1px solid black;
		margin-left: 355px;
		margin-top: 37px;
		padding: 10px;
		width: 300px;
	}
	.addAge, .addPoints{
		width:166px;
	}